.info-card {
    background-color: #242424;
    max-width: 519px;
    min-height: 450px;
    border-radius: 36px;
    border: 3px solid #a8a8a8;
    justify-self: center;
}

.info-card-upper-section {
    padding: 5px;
    margin-bottom: 50px;
    display: flex;
    background-color: #3a3a3a;
    border-radius: 33px;
    padding-top: 13px;

}

.info-card-upper-section h1 {
    font-family: var(--font-main);
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 0 15px 0 15px;
    min-height: 35px;
}

.info-card-lower-section {
    background-image: url("../../assets/img/rotating-pigeon.gif");
    display: flex;
    width: 300px;
    height: 215px;
    border-radius: 36px;
    border: 2px solid #a8a8a8;
    display: flex;
    justify-self: center;
}