/* body, :root, police */

body {
    background-color: #191919;
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
}
:root {
    --font-main: lemonmilk;
}
@font-face {
    font-family: "lemonmilk";
    src: url("./assets/fonts/LEMONMILK-Bold.otf");
}